
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  grid-gap: 1rem;
  grid-template-rows: 1fr 1fr;
}

.title {
  font-size: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 1rem;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}